<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編集確認画面</title>
</head>
<body>
	<h2>編集確認画面</h2>
	<div th:object="${registerForm}">
		<p th:text="*{question}"></p>
		<div th:object="${answerForm}">
			<p th:text="*{answer}"></p>
			
			<form method="post" th:action="@{/edit}">
				<input type="hidden" name="id" th:value="${registerForm.id}">
				<input type="hidden" name="question" th:value="${registerForm.question}">
				<input type="hidden" name="AnswerId" th:value="${answerForm.AnswerId}">
				<input type="hidden" name="answer" th:value="${answerForm.answer}">
				<input type="submit" value="戻る">
			</form>
	
			<form method="post" th:action="@{/update}">
				<input type="hidden" name="id" th:value="${registerForm.id}">
				<input type="hidden" name="question" th:value="${registerForm.question}">
				<input type="hidden" name="AnswerId" th:value="${answerForm.AnswerId}">
				<input type="hidden" name="answer" th:value="${answerForm.answer}">
				<input type="submit" value="更新する">
			</form>
		</div>
	</div>
</body>
</html>